.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 60px;
  width: 100%;
  max-width: inherit;
  background-color: white;
  border-bottom: solid;
  border-width: 0.1px;
  border-color: #bdbec0;
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.nav-tabs .nav-link {
  border: none;
  padding-bottom: 17px;
  color: #bdbec0;
  border-color: #bdbec0;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: black;
  background-color: var(--bs-nav-tabs-link-active-bg);
  border-color: var(--bs-nav-tabs-link-active-border-color);
  border-bottom: solid;
  border-bottom-color: green;
}

.container {
  max-width: none;
}

.side-dock {
  padding: 20px 30px;
  border-right-color: #bdbec0 !important;
  border: thick;
  border-right-style: solid;
  border-right-width: 0.1px !important;
  height: 1100%;
}

form {
  padding: 0px !important;
}

.subtitle {
  font-weight: 800;
}

.sized-dock {
  height: 100vh;
  overflow: auto;
}

.productArea {
  height: 90vh;
  overflow: auto;
}

.auth{
  background-color: transparent;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #d7367c;
  --bs-btn-border-color: #d7367c;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #c86791;
  --bs-btn-hover-border-color: #ec096c;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #d86f9c;
  --bs-btn-active-border-color: #d8367c;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #88053e;
  --bs-btn-disabled-border-color: #d8367c;
}

.form-check-input:checked {
  background-color: #d7367c;
  border-color: #d7367c;
}

.bg-primary {
  --bs-bg-opacity: 1;
  background-color: #d7367c !important;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  border-bottom-color: #d7367c !important;
}